body {
	margin: 0;
	color: gray;
	text-align: center;

}

header {
	background-color: black;
	font-size: 25px;
	color: white;
	font-family: arial;
	padding: 30px;
	text-align: center;
}

.container {
	color: #bed1c3;
	border: 2px solid black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 15px;
	padding: 50px;
	text-align: center;
}


#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9 {

width: 150px;
height: 150px;
border: 1px solid red;
margin: 5px;

}


button {
	margin: 15px;
	text-decoration: none;
	background-color: black;
	padding: 15px;
	border-radius: 15px;
}

button a {

	padding: 15px;
	color: white;

	text-decoration: none;
	font-size: 25px;